# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.dll
*.pdb
*.cache
logs/
internal_logs/
src/webui/obj/webui.csproj.nuget.cache
src/webui/obj/webui.csproj.nuget.g.props
src/webui/obj/Debug/netcoreapp2.1/webui.assets.cache
src/webui/obj/Debug/netcoreapp2.1/webui.csproj.CoreCompileInputs.cache
